
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Feel like home</h5>
                            <h1>Good Look Guaranteed</h1>
                            <p>Divide give Dominion wont deep he them seed thing open sixth beast don't yea very
                                it meat yielding for air in without one upon it without, his creepeth tree
                                gathering behold and, greater have given deep his</p>
                            <div class="banner_btn">
                                <!-- <a (click)="scroll(reservation)" class="btn_1">Book Now</a> -->
                                <a  class="btn_1" (click)="scroll(reservation)">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- about part start-->
    <section class="about_part">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4 col-lg-6">
                    <div class="about_img ">
                        <img src="../../../assets/img/about_us_1.png" class="about_img_1" alt="">
                        <img src="../../../assets/img/about_us_2.webp" class="about_img_2" alt="">
                        <img src="../../../assets/img/about_us_3.jpg" class="about_img_3" alt="">
                    </div>
                </div>
                <div class="col-md-7 offset-md-1 col-lg-3 offset-lg-1">
                    <div class="about_text">
                        <h5>About us</h5>
                        <h2>Connect with your dream style</h2>
                        <p>Seed spirit replenish cattle one moved air created. Them fill dont be fed isnt to he
                            shall god good spirit they are the. Hath Itself their second ifruitful a moving
                            their creature living every i replenish land and had hen lesser for their good
                            quality products</p>
                        <p>Seed spirit replenish cattle one moved air created. Them fill dont be fed isnt to he shall
                            god good spirit they are the. Hath Itself their second ifruitful a moving their creature
                            living every</p>
                        <!-- <a href="#" class="btn_3">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end-->

    <!-- Service part start-->
    <section class="service_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="../../../assets/img/section_tittle_icon.png" alt="icon">
                        <h2>Service Expectation</h2>
                        <p>Good morning forth gathering doesn't god gathering man and had moveth there dry sixth
                            dominion
                            rule divided behold after had he did not move .</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_1.png" style="height:340px" alt="">
                        <div class="single_service_text">
                            <h4>Stylish Hair Cut</h4>
                            <p>Good morning forth gathering does god gathering man and had moveth there
                                dry so dominion rule divided had</p>
                            <!-- <a href="#" class="btn_3">Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_2.jpg" style="height:340px" alt="">
                        <div class="single_service_text">
                            <h4>Wedding Hair</h4>
                            <p>Good morning forth gathering does god gathering man and had moveth there
                                dry so dominion rule divided had</p>
                            <!-- <a href="#" class="btn_3">Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_3.jpg" style="height:340px" alt="">
                        <div class="single_service_text">
                            <h4>Color & Hair Wash</h4>
                            <p>Good morning forth gathering does god gathering man and had moveth there
                                dry so dominion rule divided had</p>
                            <!-- <a href="#" class="btn_3">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service part end-->

    <!-- our_offer part start-->
    <section class="our_offer">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="../../../assets/img/offer_img_1.png" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="../../../assets/img/icon/cutter.svg" alt="#">
                                <h2>Best Equipment</h2>
                                <p>Winged day grass creepeth us second signs</p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="../../../assets/img/icon/offer_img_34.png" style="height:405px;" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="../../../assets/img/icon/cutter.svg" alt="#">
                                <h2>Best Price</h2>
                                <p>Winged day grass creepeth us second signs </p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="../../../assets/img/offer_img_3.png" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="../../../assets/img/icon/cutter.svg" alt="#">
                                <h2>Best Product</h2>
                                <p>Winged day grass creepeth us second signs</p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="single_offer_part">
                        <div class="single_offer">
                            <img src="../../../assets/img/offer_img_34.jpg" style="height:405px;" alt="offer_img_1">
                            <div class="hover_text">
                                <img src="../../../assets/img/icon/cutter.svg" alt="#">
                                <h2>Best Bridal Makeup</h2>
                                <p>Winged day grass creepeth us second signs</p>
                                <a href="#" class="offer_btn"><span class="flaticon-slim-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our_offer part end-->


    <!-- Service part start-->
    <!-- <section class="priceing_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="../../../assets/img/section_tittle_icon.png" alt="icon">
                        <h2>Pricing Plan</h2>
                        <p>Good morning forth gathering doesn't god gathering man and had moveth there dry sixth
                            dominion rule divided behold after had he did not move .</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_1.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Cut</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_2.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Color</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_3.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Straight</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_4.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Shampoo</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_5.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Wash</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_6.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Hair Shave</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_7.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Men’s Facial</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                    <div class="single_pricing_item">
                        <img src="../../../assets/img/pricing_img/pricing_img_8.png" alt="">
                        <div class="single_pricing_text">
                            <h5>Wedding Style</h5>
                            <h6>$10.00</h6>
                            <p>Their days lesser and every firmament</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Service part end-->


    <!--::review_part start::-->
    <section class="review_part gray_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="client_review_single">
            <!-- <img src="../../../assets/img/Quote.png" class="Quote" alt="quote"> -->
            <div class="client_review_text media-body">
                <p>Very good service</p>
                <p style="margin-top:-10px; margin-bottom:50px">- Dipika K</p>
            </div>
            <!-- <div class="client_img">
                <img src="../../../assets/img/client/client_1.png" alt="">
            </div> -->
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="client_review_single">
            <!-- <img src="../../../assets/img/Quote.png" class="Quote" alt="quote"> -->
            <div class="client_review_text">
                <p>Am gonna visit again. I loved the results.</p>
                <p style="margin-top:-10px; margin-bottom:50px">- Dona M</p>
            </div>
            <!-- <div class="client_img">
                <img src="../../../assets/img/client/client_1.png" alt="">
            </div> -->
            <!-- <h4>- Dona M </h4> -->
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="client_review_single">
            <!-- <img src="../../../assets/img/Quote.png" class="Quote" alt="quote"> -->
            <div class="client_review_text">
                <p>Happy with my haircut and haircolor</p>
                <p style="margin-top:-10px; margin-bottom:50px">- anwesha g</p>
            </div>
            <!-- <div class="client_img">
                <img src="../../../assets/img/client/client_1.png" alt="">
            </div> -->
            <!-- <h4>- anwesha g</h4> -->
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!-- /.Carousel Wrapper-->
                </div>
            </div>
        </div>
    </section>
    <!--::review_part end::-->

    <!-- ::chefs_part start::-->
    <!-- <section class="artist_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="../../../assets/img/section_tittle_icon.png" alt="icon">
                        <h2>Meet Our Artist</h2>
                        <p>Good morning forth gathering doesn't god gathering man and had moveth there dry sixth
                            dominion rule divided behold after had he did not move .</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="../../../assets/img/artist/artist_1.png" alt="artist">
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text text-center">
                                <h3>Adam Billiard</h3>
                                <p>Chef Master</p>
                                <div class="social_icon">
                                    <a href="#"> <i class="ti-facebook"></i> </a>
                                    <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                    <a href="#"> <i class="ti-instagram"></i> </a>
                                    <a href="#"> <i class="ti-skype"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                                <img src="../../../assets/img/artist/artist_2.png" alt="artist">
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text text-center">
                                <h3>Fred Macyard</h3>
                                <p>Chef Master</p>
                                <div class="social_icon">
                                    <a href="#"> <i class="ti-facebook"></i> </a>
                                    <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                    <a href="#"> <i class="ti-instagram"></i> </a>
                                    <a href="#"> <i class="ti-skype"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                                <img src="../../../assets/img/artist/artist_3.png" alt="artist">
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text text-center">
                                <h3>Justin Stuard</h3>
                                <p>Chef Master</p>
                                <div class="social_icon">
                                    <a href="#"> <i class="ti-facebook"></i> </a>
                                    <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                    <a href="#"> <i class="ti-instagram"></i> </a>
                                    <a href="#"> <i class="ti-skype"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--::chefs_part end:: -->

    <!--::regervation_part start::-->
    <section class="regervation_part section_padding" #reservation>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="regervation_part_iner">
                        <form id="contactform" role="form" #contactForm="ngForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="Name *" [(ngModel)]="name" name="abraa" [class.has-error]="cus_name.touched" #cus_name="ngModel" autocomplete="new-password" required>
                                    <span class="error-msg" *ngIf="cus_name.errors?.required && cus_name.touched">Please enter your name !</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="inputPassword4"
                                        placeholder="Email address *" [(ngModel)]="email" name="email" [class.has-error]="mail.invalid && mail.touched" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #mail="ngModel" autocomplete="new-password" required>
                                        <span class="error-msg" *ngIf="mail.errors?.required && mail.touched">Please enter your email !</span>
                                        <span class="error-msg"  *ngIf="mail.errors?.pattern">Email is invalid!</span>               
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="Subject *" [(ngModel)]="subject" name="subject" [class.has-error]="cus_subject.touched" #cus_subject="ngModel" autocomplete="new-password" required>
                                    <span class="error-msg" *ngIf="cus_subject.errors?.required && cus_subject.touched">Please enter the Query title!</span>
                                </div>
                                <!-- <div class="form-group col-md-6">
                                    <select class="form-control" id="Select">
                                        <option value="1" selected>Select service*</option>
                                        <option value="2">Name of service</option>
                                        <option value="3">Name of service</option>
                                        <option value="4">Name of service</option>
                                        <option value="5">Name of service</option>
                                    </select>
                                </div> -->
                                <!-- <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="pnone" placeholder="Phone number *">
                                </div> -->
                                <!-- <div class="form-group col-md-6">
                                    <div class="input-group date">
                                        <input id="datepicker" type="text" class="form-control" placeholder="Date *" />
                                    </div>
                                </div> -->
                                <!-- <div class="form-group time_icon col-md-6">
                                    <select class="form-control" id="Select2">
                                        <option value="" selected>Time *</option>
                                        <option value="1">8 AM TO 10AM</option>
                                        <option value="1">10 AM TO 12PM</option>
                                        <option value="1">12PM TO 2PM</option>
                                        <option value="1">2PM TO 4PM</option>
                                        <option value="1">4PM TO 6PM</option>
                                        <option value="1">6PM TO 8PM</option>
                                        <option value="1">4PM TO 10PM</option>
                                        <option value="1">10PM TO 12PM</option>
                                    </select>
                                </div> -->
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="Textarea" rows="4"
                                    [(ngModel)]="message" name="message" placeholder="Leave a message here"  [class.has-error]="cus_message.touched" #cus_message="ngModel" id="message" style="height: 150px" required></textarea>
                                </div>
                            </div>


                            <div class="regerv_btn">
                                <button class="button button-contactForm btn_4" type="submit" (click)="sendMail()" [disabled]="!contactForm.valid">Get in touch</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::regervation_part end::-->

    <!-- blog part start-->
    <!-- <section class="blog_part service_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <img src="../../../assets/img/section_tittle_icon.png" alt="icon">
                        <h2>Latest Style News</h2>
                        <p>Good morning forth gathering doesn't god gathering man and had moveth there
                            dry sixth dominion rule divided behold after had he did not move .</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_1.png" alt="">
                        <div class="single_service_text">
                            <p> <a href="blog.html">art, illustration</a> <span>|</span> March 30, 2019</p>
                            <h4> <a href="#">There our you divide itseld..</a></h4>
                            <p>Man moveth days wherein you're that made years he after us light let moved.</p>
                            <a href="#" class="btn_3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_2.png" alt="">
                        <div class="single_service_text">
                            <p> <a href="blog.html">art, illustration</a> <span>|</span> March 30, 2019</p>
                            <h4> <a href="#">One which won two divide..</a></h4>
                            <p>Man moveth days wherein you're that made years he after us light let moved.</p>
                            <a href="#" class="btn_3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_3.png" alt="">
                        <div class="single_service_text">
                            <p> <a href="blog.html">art, illustration</a> <span>|</span> March 30, 2019</p>
                            <h4> <a href="#">There our you divide itseld..</a></h4>
                            <p>Man moveth days wherein you're that made years he after us light let moved.</p>
                            <a href="#" class="btn_3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section> -->
    <!-- blog_part part end-->