    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Our Service</h2>
                            <p>home <span class="ti-angle-double-right"></span>Service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- Service part start-->
    <section class="service_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="../../../assets/img/section_tittle_icon.png" alt="icon">
                        <h2>Service Expectation</h2>
                        <p>Good morning forth gathering doesn't god gathering man and had moveth there dry sixth
                            dominion
                            rule divided behold after had he did not move .</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_1.png" style="height:340px" alt="">
                        <div class="single_service_text">
                            <h4>Stylish Hair Cut</h4>
                            <p>Good morning forth gathering does god gathering man and had moveth there
                                dry so dominion rule divided had</p>
                            <!-- <a href="#" class="btn_3">Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_2.jpg" style="height:340px" alt="">
                        <div class="single_service_text">
                            <h4>Wedding Hair</h4>
                            <p>Good morning forth gathering does god gathering man and had moveth there
                                dry so dominion rule divided had</p>
                            <!-- <a href="#" class="btn_3">Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service_part">
                        <img src="../../../assets/img/service/single_service_3.jpg" style="height:340px" alt="">
                        <div class="single_service_text">
                            <h4>Color & Hair Wash</h4>
                            <p>Good morning forth gathering does god gathering man and had moveth there
                                dry so dominion rule divided had</p>
                            <!-- <a href="#" class="btn_3">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service part end-->

    <!--::review_part start::-->
    <section class="review_part gray_bg section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="client_review_single">
            <!-- <img src="../../../assets/img/Quote.png" class="Quote" alt="quote"> -->
            <div class="client_review_text media-body">
                <p>Very good service</p>
            </div>
            <!-- <div class="client_img">
                <img src="../../../assets/img/client/client_1.png" alt="">
            </div> -->
            <h4>- Dipika K</h4>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="client_review_single">
            <!-- <img src="../../../assets/img/Quote.png" class="Quote" alt="quote"> -->
            <div class="client_review_text">
                <p>Am gonna visit again. I loved the results.</p>
            </div>
            <!-- <div class="client_img">
                <img src="../../../assets/img/client/client_1.png" alt="">
            </div> -->
            <h4>- Dona M </h4>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="client_review_single">
            <!-- <img src="../../../assets/img/Quote.png" class="Quote" alt="quote"> -->
            <div class="client_review_text">
                <p>Happy with my haircut and haircolor</p>
            </div>
            <!-- <div class="client_img">
                <img src="../../../assets/img/client/client_1.png" alt="">
            </div> -->
            <h4>- anwesha g</h4>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!-- /.Carousel Wrapper-->
                </div>
            </div>
        </div>
    </section>
    <!--::review_part end::-->