  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              <h2>Contact Us</h2>
              <p>home <span class="ti-angle-double-right"></span>Contact us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      <!-- <div class="d-none d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px;"></div>
        <script>
          function initMap() {
            var uluru = {
              lat: -25.363,
              lng: 131.044
            };
            var grayStyles = [{
                featureType: "all",
                stylers: [{
                    saturation: -90
                  },
                  {
                    lightness: 50
                  }
                ]
              },
              {
                elementType: 'labels.text.fill',
                stylers: [{
                  color: '#ccdee9'
                }]
              }
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {
                lat: -31.197,
                lng: 150.744
              },
              zoom: 9,
              styles: grayStyles,
              scrollwheel: false
            });
          }
        </script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap">
        </script>

      </div> -->


      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" id="contactform" role="form" #contactForm="ngForm">
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" [(ngModel)]="name" [class.has-error]="cus_name.touched" #cus_name="ngModel" name="name" placeholder="Your Name" required>
                  <span class="error-msg" *ngIf="cus_name.errors?.required && cus_name.touched">Please enter your name !</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="email" name="email" [class.has-error]="mail.invalid && mail.touched" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #mail="ngModel" id="email" placeholder="Your Email" required>
                  <span class="error-msg" *ngIf="mail.errors?.required && mail.touched">Please enter your email !</span>
                  <span class="error-msg"  *ngIf="mail.errors?.pattern">Email is invalid!</span>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="subject" name="subject" [class.has-error]="cus_subject.touched" #cus_subject="ngModel" id="subject" placeholder="Subject" required>
                  <span class="error-msg" *ngIf="cus_subject.errors?.required && cus_subject.touched">Please enter the Query title!</span>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">

                  <textarea class="form-control" [(ngModel)]="message" name="message" placeholder="Leave a message here"  [class.has-error]="cus_message.touched" #cus_message="ngModel" id="message" style="height: 150px" required></textarea>
                  <span class="error-msg" *ngIf="cus_message.errors?.required && cus_message.touched">Please enter the message!</span>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4" type="submit" (click)="sendMail()" [disabled]="!contactForm.valid">Send Message</button>
            </div>
          </form>
        </div>
        <!-- <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Buttonwood, California.</h3>
              <p>Rosemead, CA 91770</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>00 (440) 9865 562</h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>support@colorlib.com</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->